@charset "UTF-8";
@svg 1px-border {
  outline: none;
  overflow: visible;
  width: 100%;
  height: 100%;
  @rect {
    fill: transparent;
    width: 100%;
    height: 100%;
    stroke-width: 1;
    rx: 5;
    ry: 5;
    stroke: var(--color, black);
  }
}

@svg border222 {
  outline: none;
  overflow: visible;
  width: 100%;
  height: 100%;
  @rect {
    fill: transparent;
    width: 100%;
    height: 100%;
    stroke-width: 1;
    rx: 4;
    ry: 4;
    stroke: var(--color, black);
  }
}

@svg right-1px {
  width: 4px;
  height: 4px;
  @rect {
    fill: transparent;
    width: 100%;
    height: 100%;
    stroke-width: 25%;
    stroke: var(--color, black);
  }
}

@svg right-1px2 {
  width: 200%;
  height: 200%;
  @rect {
    fill: transparent;
    width: 100%;
    height: 100%;
    stroke-width: 1;
    stroke: var(--color, black);
  }
}

.borderBottomEEE {
  border: 0;
  border-bottom: 1px solid;
  border-image: svg(right-1px param(--color #eee)) 1 stretch;
  /*border-style: solid;
  //border-width: 1px;
  border-bottom-width: 1px;*/
}

.borderEEE {
  border: 0;
  border-bottom: 1px solid;
  border-image: svg(right-1px param(--color #eee)) 1 stretch;
  /*border-style: solid;
  //border-width: 1px;
  border-bottom-width: 1px;*/
}

.border1pxBgDe {
  border: 0;
  border-bottom: 1px solid;
  border-image: svg(right-1px param(--color #eee)) 1 stretch;
  /*border-style: solid;
  //border-width: 1px;
  border-bottom-width: 1px;*/
}

.border1pxBgEe {
  border: 0;
  border-bottom: 1px solid;
  border-image: svg(right-1px param(--color #ddd)) 1 stretch;
  /*border-style: solid;
  //border-width: 1px;
  border-bottom-width: 1px;*/
}

.borderRightEEE {
  border: 0;
  border-right: 1px solid;
  border-image: svg(right-1px param(--color #eee)) 1 stretch;
}

.mainBoxTop0 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/*中泰红*/
/*中泰黄*/
/*中泰蓝*/
/*中泰不可用*/
/*中泰绿*/
/*z-index 规范*/
