.bottomBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 200px;
    border-top: 1px solid #888;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.bottomBar > li {
    color:#888888;
    text-align: center;
    //float: left;
    width: 25%;
}

.redTextColor{
    color: #D81E06;
}
