.wrap {
  padding-bottom: 280px;
}
ul {
  li:nth-of-type(1) {
    background: #FAFAFA;
  }
  li:nth-of-type(2) {
    >span:first-of-type {
      //background-image: url("../../../assets/geoponics/first.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  li:nth-of-type(3) {
    >span:first-of-type {
      //background-image: url("../../../assets/geoponics/second.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  li:nth-of-type(4) {
    >span:first-of-type {
      //background-image: url("../../../assets/geoponics/third.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }
  .ranking, .ranking-title {
    padding: 0 30px 0 20px;
    color: #333;
    >span {
      display: inline-block;
      width: 24%;
      font-size: 28px;
      float: left;
      text-align: center;
    }
    >span:nth-of-type(1) {
      width: 12%;
      min-height: 35px;
    }
    >span:nth-of-type(2) {
      width: 14%;
    }
    >span:last-of-type {
      text-align: right;
      overflow:hidden;
      text-overflow:ellipsis;
      display:-webkit-box;
      -webkit-box-orient:vertical;
      -webkit-line-clamp:2;
      width: 170px;
      .department{

      }
    }
  }
  .ranking-title {
    height: 70px;
    >span {
      font-size: 24px;
      color: #999;
      line-height: 70px;
    }
  }
  .ranking {
    min-height: 110px;
    position: relative;
    display: flex;
    align-items: center;

    >span:last-of-type {
      font-size: 24px;
    }
  }
}
.iconsort {
  font-size: 22px;
  position: relative;
  left: 18px;
  float: right;
}
.red {
  color: #F03E3A!important;
}
